<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <div class="l-form">
        <table class="l-table-form">
                        <tr>
                    <th th:text="#{charges.doctorId}"></th>
                    <td th:text="${charges.doctorName}"></td>
                </tr>
                <tr>
                    <th th:text="#{charges.patientId}"></th>
                    <td th:text="${charges.patientName}"></td>
                </tr>
                <tr>
                    <th th:text="#{charges.chargesAmount}"></th>
                    <td th:text="${charges.chargesAmount}"></td>
                </tr>
                <tr>
                    <th th:text="#{charges.payStatus}"></th>
                    <td th:text="${charges.payStatus}"></td>
                </tr>
                <tr>
                    <th th:text="#{charges.remark}"></th>
                    <td th:text="${charges.remark}"></td>
                </tr>
        </table>
    </div>
</div>

<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
$(function() {

});
/*]]>*/</script>

</html>
