<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <div id="toptoolbar"></div>
    <div id="searchformDiv">
        <form id='searchform' class="l-search-form">
            <table>
                <tr>
                    <td>
                        <input type="text" class="l-text" id="search_LIKE_bookingPerson" name="search_LIKE_bookingPerson" th:placeholder="#{doctorAppointment.bookingPerson}" /></td>
                    <td>
                        <input type="reset" class="l-reset" th:value="#{reset}" />
                        <input type="button" class="l-search" th:value="#{search}" onclick="f_search();" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="maingrid"></div>
</div>

<!-- page specific plugin scripts -->
<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
var maingrid;
$(function() {
    maingrid = newGrid("maingrid", {
        columns : [
            {
                display : '[[#{doctorAppointment.startAt}]]',
                name : 'startAt',
                align : 'left',
                width : 160
            },{
                display : '[[#{doctorAppointment.endAt}]]',
                name : 'endAt',
                align : 'left',
                width : 160
            },{
                display : '[[#{doctorAppointment.status}]]',
                name : 'status',
                align : 'left',
                width : 160
            },{
                display : '[[#{doctorAppointment.bookingPerson}]]',
                name : 'bookingPerson',
                align : 'left',
                width : 160
            },{
                display : '[[#{doctorAppointment.doctorId}]]',
                name : 'doctorId',
                align : 'left',
                width : 160
            },],
        url : '/doctorAppointment/list'
    });

    $("#toptoolbar").ligerToolBar({
        items : [
//            {
//            text : '增加',
//            click : addClick,
//            icon : 'add'
//            }, {
//                text : '修改',
//                click : modifyClick,
//                icon : 'modify'
//            },
            {
            text : '删除',
            click : deleteClick,
            icon : 'delete'
            }
        ]
    });

    maingrid.setHeight(document.documentElement.clientHeight - $("#toptoolbar").height() -  $("#searchform").height() - 18);
});

function addClick(item) {
    openForm({url : '/doctorAppointment/form',title : '新增'})
}

function modifyClick(item) {
    isSingleSelected(maingrid, function(row) {
        openForm({
            url : '/doctorAppointment/form?id=' + row['id'],
            title : '编辑'
        });
    });
}

function deleteClick(item) {
    isSingleSelected(maingrid, function(row) {
        top.$.ligerDialog.confirm('确定要删除', function(yes) {
            if (yes) {
                ajaxDo('/doctorAppointment/delete?id=' + row['id']);
            }
        });
    });
}

function f_search() {
    loadGridData(maingrid, "searchform");
}

function f_reload() {
    maingrid.loadData(true);
}
/*]]>*/</script>
</html>
