<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <div class="l-form">
        <table class="l-table-form">
                        <tr>
                    <th th:text="#{videoEncryption.contentId}"></th>
                    <td th:text="${videoEncryption.contentId}"></td>
                </tr>
                <tr>
                    <th th:text="#{videoEncryption.bytes}"></th>
                    <td th:text="${videoEncryption.bytes}"></td>
                </tr>
        </table>
    </div>
</div>

<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
$(function() {

});
/*]]>*/</script>

</html>
