<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <form id="voideEfs-form" method="post" th:action="@{/voideEfs/form}" th:object="${voideEfs}" liger="{type : 'ligerForm'}">
        <input type="hidden" th:field="*{id}"/>
        <table class="l-table-form">
            <tr>
                <th th:text="#{voideEfs.password}"></th>
                <td><input type="text" ltype="text" th:placeholder="#{voideEfs.password}" th:field="*{password}" validate="{required:true}"/></td>
            </tr>
            <!--<tr>-->
                <!--<th th:text="#{voideEfs.password2}"></th>-->
                <!--<td><input type="text" ltype="text" th:placeholder="#{voideEfs.password2}" th:field="*{password2}" validate="{required:true}"/></td>-->
            <!--</tr>-->
        </table>
    </form>
</div>

<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
var $form;
$(function() {

});
/*]]>*/</script>

</html>
