<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <div class="l-form">
        <table class="l-table-form">
                        <tr>
                    <th th:text="#{gameitemRecord05.gameheadRecordId}"></th>
                    <td th:text="${gameitemRecord05.gameheadRecordId}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.gamephase}"></th>
                    <td th:text="${gameitemRecord05.gamephase}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.operationnumber}"></th>
                    <td th:text="${gameitemRecord05.operationnumber}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.totalnumber}"></th>
                    <td th:text="${gameitemRecord05.totalnumber}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.correctnumber}"></th>
                    <td th:text="${gameitemRecord05.correctnumber}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.correctrate}"></th>
                    <td th:text="${gameitemRecord05.correctrate}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.timeconsuming}"></th>
                    <td th:text="${gameitemRecord05.timeconsuming}"></td>
                </tr>
                <tr>
                    <th th:text="#{gameitemRecord05.completeif}"></th>
                    <td th:text="${gameitemRecord05.completeif}"></td>
                </tr>
        </table>
    </div>
</div>

<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
$(function() {

});
/*]]>*/</script>

</html>
