<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <div id="toptoolbar"></div>
    <div id="maingrid"></div>
</div>

<!-- page specific plugin scripts -->
<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
var maingrid;
$(function() {
    maingrid = newGrid("maingrid", {
        columns : [
            {
                display : '[[#{hospital.helpCode}]]',
                name : 'helpCode',
                align : 'left',
                width : 80
            },{
                display : '[[#{hospital.name}]]',
                name : 'name',
                align : 'left',
                width : 200
            },{
                display : '[[#{hospital.region}]]',
                name : 'region_fullName',
                align : 'left',
                width : 160
            },{
                display : '[[#{hospital.address}]]',
                name : 'address',
                align : 'left',
                width : 120
            }/**,{
                display : '[[#{hospital.sort}]]',
                name : 'sort',
                align : 'left',
                width : 60
            }*/,{
                display : '[[#{hospital.remark}]]',
                name : 'remark',
                align : 'left',
                width : 120
            },{
                display : '[[#{hospital.abstracts}]]',
                name : 'abstracts',
                align : 'left',
                width : 120
            },{
                display : '[[#{hospital.status}]]',
                name : 'config_status',
                align : 'center',
                width : 80
            },
            {
                display : '[[#{creator}]]',
                name : 'creator_realname',
                width : 120
            },

            {
                   display : '[[#{createdAt}]]',
                name : 'createdAt',
                type : 'datetime',
                width : 120
            },{
                display : '[[#{updator}]]',
                name : 'updator_realname',
                width : 120
            },
            {
                   display : '[[#{updatedAt}]]',
                name : 'updatedAt',
                type : 'datetime',
                width : 120
            }],
        url : '/hospital/list'
    });

    $("#toptoolbar").ligerToolBar({
        items : [ {
            text : '增加',
            click : addClick,
            icon : 'add'
        }, {
            text : '修改',
            click : modifyClick,
            icon : 'modify'
        }, {
            text : '删除',
            click : deleteClick,
            icon : 'delete'
        } ]
    });

    maingrid.setHeight(document.documentElement.clientHeight - $("#toptoolbar").height() -  $("#searchform").height() - 18);
});

function addClick(item) {
    openForm({
        width: 1000,
        url : '/hospital/form',
        title : '新增'})
}

function modifyClick(item) {
    isSingleSelected(maingrid, function(row) {
        openForm({
            width: 1000,
            url : '/hospital/form?id=' + row['id'],
            title : '编辑'
        });
    });
}

function deleteClick(item) {
    isSingleSelected(maingrid, function(row) {
        top.$.ligerDialog.confirm('确定要删除', function(yes) {
            if (yes) {
                ajaxDo('/hospital/delete?id=' + row['id']);
            }
        });
    });
}

function f_search() {
    loadGridData(maingrid, "searchform");
}

function f_reload() {
    maingrid.loadData(true);
}
/*]]>*/</script>
</html>
