<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="body">
    <div id="maingrid"></div>
</div>

<!-- page specific plugin scripts -->
<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
var maingrid;
var selectIds = new Array();
var selectNames = new Array();
if('[[${diseaseIds}]]' != ""){
    selectIds = '[[${diseaseIds}]]'.split(",");
}
$(function() {
    maingrid = newTreeGrid("maingrid", {
        columns: [{
            display: '[[#{disease.name}]]',
            name: 'name',
            align: 'left',
            width: 260
        }, {
            display: '[[#{disease.helpCode}]]',
            name: 'helpCode',
            align: 'left',
            width: 120
        }, {
            display: '[[#{disease.status}]]',
            name: 'config_status',
            width: 80
        }],
        checkbox:true,
        url: '/disease/list',
        selectRowButtonOnly: false,
        autoCheckChildren:false,
        isChecked: function (rowdata) {
            if($.inArray(rowdata["id"], selectIds) >= 0){
                return true;
            }
            return false;
        }
    });
});


function f_select() {
    var resultData = {};
    var data = maingrid.getSelectedRows();
    selectIds = new Array();
    selectNames = new Array();
    $.each(data,function(i,row){
        selectIds.push(row.id);
        selectNames.push((row.name));
    });
    resultData.selectIds = selectIds;
    resultData.selectNames = selectNames;
    return resultData;
}

function fillShowSpan(){
    if(selectNames.length > 0){
        $("#selectNames").html(selectNames.join(",").toString() + "...");
    }else{
        $("#selectNames").html("");
    }
}
/*]]>*/</script>
</html>
