<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="h5/layout">
<head>
    <title>内容详情</title>
    <style>

    </style>
</head>

<div layout:fragment="body">

    <div class="bar bar-nav">
        <div class="title" th:text="${content.name}"></div>
    </div>

    <article class="weui-article content">
        <section>
            <p th:utext="${#strings.isEmpty(content.description)} ? '暂无内容' :  ${content.description}">
            </p>
        </section>
    </article>

</div>

<script type="text/javascript" layout:fragment="script">/*<![CDATA[*/
$(function() {

});
/*]]>*/</script>

</html>
